@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
a {
  text-decoration: none;
  color: white;
}
body {
  max-width: 1920px;
}
.container {
  /* max-width: 1700px; */
}
/*header*/
.header .container {
  background-image: url(../img/Header/background.jpg);
  background-repeat: no-repeat;
  padding-top: 65px;
  background-size: contain;
  /* max-height: 1100px; */
}

.header_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1700px;
  margin: 0 auto 135px;
}
.logo {
  max-width: 240px;
  padding-left: 20px;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  max-width: 585px;
  column-gap: 18px;
}
.item_nav {
  padding: 16px 40px;
  border: transparent solid 2px;
  border-radius: 28px;
}
.nav_point {
  /* padding: 16px 40px; */

  font-family: "Roboto";
  font-weight: 400;
}
.item_nav:hover {
  padding: 16px 40px;
  border: #2f4b93 solid 2px;
  border-radius: 28px;
  color: #2f4b93;
}
.title_header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
}

.title_header h2 {
  font-size: 60px;
  font-weight: 100;
  color: white;
  box-sizing: content-box;
  margin-bottom: 10px;
  text-align: center;
}
.title_header p {
  font-size: 36px;
  font-weight: 400;
  color: #8492af;
  margin: 0 auto;
  width: 356px;
  margin-bottom: 75px;
}
.started_button {
  margin: 0 auto;
  height: 45px;
}
.started_button a {
  font-size: 18px;
  font-weight: 600;
  padding: 15px 60px;
  background-color: #5584ff;
  border-radius: 25px;
  margin-bottom: 85px;
}
.middle_img {
  margin: 75px auto 0;
  max-width: 882px;
}
.middle_img img {
  padding-inline: 30px;
  object-fit: cover;
  width: 100%;
  height: auto;
}
/* section_cards */
.section_cards {
  height: 630px;
}
.row_cards {
  height: 630px;
  display: flex;
  column-gap: 30px;
  justify-content: center;
  align-items: flex-end;
}
.card {
  width: 470px;
  height: 500px;
  text-align: center;
  text-justify: distribute-all-lines;
}
.card img {
  padding-top: 120px;
}
.card h3 {
  font-size: 24px;
  padding-top: 60px;
}
.card p {
  padding-top: 30px;
  max-width: 360px;
  text-align: center;
  margin: 0 auto 55px;
}
.card a {
  color: black;
  padding: 15px 85px;
  border: gray solid 1px;
  border-radius: 30px;
}
/* ALLYOU */
.AllYou {
}
.AllYou .container {
  margin-inline: auto;
  display: flex;
  justify-content: flex-end;
  min-height: 930px;
  align-items: center;
}
.text_block {
  max-width: 720px;
  padding-left: 30px;
}
.title_header {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 60px;
  color: #0e1a35;
  margin-bottom: 60px;
}
.AllYou .txt {
  color: gray;
  font-family: "Roboto";
  font-weight: 100;
  font-size: 18px;
  margin-bottom: 50px;
}
.blueList {
}
.blueLis_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}
.blueLis_container img {
  width: 25px;
  height: 25px;
}
.blueLis_container p {
  color: #5584ff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  margin-left: 16px;
}
.container_img_block {
  max-width: 1000px;
  max-height: 650px;
}
.img_block img {
  max-width: 100%;
  height: auto;
}

/* D&D */
.DaD {
  max-width: 760px;
  max-width: 1920px;
  background-image: url("../img/D&D/DaDback.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
.DaD .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture {
  max-width: 1000px;
  padding-right: 70px;
}
.picture img {
  max-width: 100%;
  padding-inline: 30px;
  height: auto;
}
.text_blockDaD {
  max-width: 720px;
  min-width: 580px;
  color: #8492af;

  padding: 20px 20px 20px 70px;
  text-align: left;
  font-family: "Roboto";
}
.title_DaD {
  color: #fff;
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 60px;
}
.DaDtxt {
  margin-bottom: 45px;
  font-size: 18px;
  font-weight: 400;
}
/* Powerfull */
.powerfull {
}
.powerfull .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f7fa;
  box-shadow: 0px 20px 20px 13px #f6f7fa;
  font-family: "Roboto";
}
.powerfull_title {
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  font-weight: 100;
}
.powerfull_txt {
  margin: 60px auto 0;
  color: #8492af;
  font-size: 18px;
  font-weight: 400;
  max-width: 950px;
  text-align: center;
}
.powerfull_pic {
  margin-inline: auto;
  margin-top: 85px;
  max-width: 1390px;
  max-height: 681px;
  background-size: 100% 100%;
}
.powerfull_img {
  max-width: 100%;
  height: auto;
  padding-inline: 30px;
}

/* check */
li {
  list-style-type: none;
}
.check .container {
  max-height: 1060px;
  font-family: "Roboto";
}
.check_title {
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  font-weight: 100;
}
.row_cards_price {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  column-gap: 140px;
}
.cards_item {
  border: black 1px solid;
  height: 425px;
  width: 364px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  box-shadow: 0 0 15px 0px rgb(134, 124, 124);
  color: #8492af;
  font-size: 18px;
  font-weight: 400;
  font-stretch: 250%;
}
.card_title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 60px;
}
.price {
  margin-bottom: 60px;
  font-size: 24px;
}
.dollar {
  font-weight: 600;
  font-size: 40px;
  color: black;
}
.number {
  font-weight: 600;
  font-size: 72px;
  color: black;
}

.grid_ {
  display: grid;
  grid-template-columns: 28px 215px;
  justify-content: center;
  row-gap: 3px;
}
.check_mark {
  background: url(../img/Check/checkmark.png) no-repeat;
  width: 25px;
  height: 25px;
}
.cross {
  background: url(../img/Check/cross.png) no-repeat;
  width: 25px;
  height: 25px;
}

.check_txt {
  padding: 100px 5px 0;
  max-width: 885px;
  text-align: center;
  margin-inline: auto;
  color: #8492af;
  font-size: 18px;
  font-weight: 400;
}
.join {
  width: 200px;
  height: 50px;
  border-radius: 24px;
  display: flex;
  background-color: #5584ff;
  text-align: center;

  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 18px;

  margin: 60px 32px 100px;
}
.line_before_after {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: baseline;
}
.line_gray {
  width: 220px;
  border: #dadee7 solid 1px;
  padding: 0 30px;
}
/* footer */
footer {
  background-color: #0e1a35;
  color: #8492af;
}
footer .container {
  max-width: 1500px;
  max-height: 150px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
}
.about_us {
  display: flex;
  align-items: center;
}
.nav_point {
  padding: 65px 10px;
  color: #8492af;
}
.nav_point p {
  color: #8492af;
  border: transparent solid 1px;
  border-radius: 20px;
  padding: 10px 25px;
}
.nav_point p:hover {
  color: #8492af;
  border: #8492af solid 1px;
  border-radius: 20px;
  padding: 10px 25px;
}
i {
  height: 20px;
  padding: 0 5px;
}

@media (max-width: 1754px) {
  .text_blockDaD {
    padding-inline: 20px;
  }
  .picture {
    padding-inline: 10px 0px;
  }
  .picture img {
    padding-inline: 10px 0px;
  }
}
@media (max-width: 1440px) {
  .row_cards_price {
    column-gap: 30px;
  }
}
@media (max-width: 1170px) {
  .header .container {
    height: 800px;
    padding-top: 15px;
  }

  .header_row {
    margin-bottom: 15px;
  }
  .middle_img {
    width: 700px;
  }
  .section_cards {
    height: 370px;
  }
  .row_cards {
    column-gap: 5px;
    align-items: stretch;
  }
  .cards_item {
    width: 270px;
    height: 340px;
  }
  .card_title {
    margin-bottom: 30px;
  }
  .card img {
    padding-top: 0;
  }
  .price {
    margin-bottom: 30px;
  }
  .title_header p {
    margin-bottom: 0;
  }
  .navigation {
    column-gap: 0;
  }
  .AllYou {
    height: 550px;
  }
  .AllYou .container {
    align-items: flex-start;
  }
  .title_DaD {
    font-size: 45px;
    margin-bottom: 20px;
  }
  .item_nav {
    padding: 5px 10px;
  }
  .item_nav:hover {
    padding: 5px 10px;
  }
  .title_header h2 {
    font-size: 40px;
  }
  .title_header p {
    font-size: 21px;
    text-align: center;
  }
}
@media (max-width: 940px) {
  .header .container {
    height: 500px;
  }
  .middle_img {
    display: none;
  }
  .container_img_block {
    display: none;
  }
  .AllYou {
    height: 500px;
    padding-top: 15px;
  }
  .AllYou .container {
    display: block;
  }
  .section_cards .row_cards {
  }
  .text_block {
    margin-inline: auto;
  }
  .row_cards {
    height: 610px;
  }
  .card {
    justify-content: center;
  }
  .card img {
    padding-top: 10px;
  }
  .card h3 {
    padding-top: 15px;
  }
  .card p {
    padding-top: 15px;
    margin-bottom: 30px;
  }
  /* DAD */
  .picture {
    display: none;
  }
}
@media (max-width: 890px) {
  .title_header {
    max-height: 192px;
    padding-top: 0;
    margin-bottom: 20px;
  }
  .AllYou .txt {
    margin-bottom: 20px;
  }
  .card {
    margin-inline: 3px;
  }
  .card a {
    padding: 5px 15px;
  }
  .row_cards_price {
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .check_txt {
    padding-top: 20px;
  }
  .join {
    margin-top: 20px;
  }
  .check_title {
    font-size: 30px;
    margin-top: 0;
  }
  .row_cards_price {
    margin-top: 20px;
  }
}
@media (max-width: 715px) {
  .header_row {
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .logo {
    margin-inline: auto;
  }
  .menu {
    margin-inline: auto;
  }
  .title_header {
    padding-top: 0;
    margin-bottom: 20px;
  }
  .AllYou {
    height: 350px;
  }
  .AllYou .txt {
    margin-bottom: 10px;
  }
}

@media (max-width: 695px) {
  .navigation {
    flex-wrap: wrap;
    justify-content: center;
  }
  .text_block .title_header {
    font-size: 35px;
  }
  .text_block .txt {
    font-size: 12px;
  }
  .AllYou {
    height: 280px;
  }
  .powerfull_title {
    font-size: 30px;
    margin-top: 20px;
  }
  .powerfull_txt {
    font-size: 14px;
    margin-top: 20px;
  }
}
@media (max-width: 600px) {
  .title_header h2 {
    font-size: 25px;
  }
  .title_header p {
    font-size: 14px;
  }
  .started_button a {
    padding: 10px 30px;
  }
  .AllYou {
    display: none;
  }
}

@media (max-width: 591px) {
  .header {
    height: 400px;
  }
  .check {
    height: 1300px;
  }
  .nav_point {
    padding-inline: 0;
  }

  .title_DaD {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .DaDtxt {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .text_blockDaD {
    min-width: 0;
  }
}
@media (max-width: 500px) {
}
