@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
a {
  text-decoration: none;
  color: white;
}
/*header*/
.header .container {
  background-image: url(../img/Header/background.jpg);
  background-repeat: no-repeat;
  padding-top: 65px;
  background-size: cover;
  height: 1100px;
}

.header_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1700px;
  margin: 0 auto 135px;
}
.logo {
  max-width: 240px;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  max-width: 585px;
  column-gap: 18px;
}
.item_nav {
  padding: 16px 40px;
}
.nav_point {
  /* padding: 16px 40px; */

  font-family: "Roboto";
  font-weight: 400;
}
.item_nav:hover {
  padding: 16px 40px;
  border: #2f4b93 solid 2px;
  border-radius: 28px;
  color: #2f4b93;
}
.title_header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
}

.title_header h2 {
  font-size: 60px;
  font-weight: 100;
  color: white;
  box-sizing: content-box;
  margin-bottom: 10px;
}
.title_header p {
  font-size: 36px;
  font-weight: 400;
  color: #8492af;
  margin: 0 auto;
  width: 356px;
  margin-bottom: 75px;
}
.started_button {
  margin: 0 auto;
  height: 45px;
}
.started_button a {
  font-size: 18px;
  font-weight: 600;
  padding: 18px 60px;
  background-color: #5584ff;
  border-radius: 25px;
  margin-bottom: 85px;
}
.middle_img {
  margin: 75px auto 0;
  max-width: 882px;
}
/* section_cards */
.section_cards {
  height: 630px;
}
.row_cards {
  height: 630px;
  display: flex;
  column-gap: 30px;
  justify-content: center;
  align-items: flex-end;
}
.card {
  border: black solid 1px;
  width: 470px;
}
.card h3 {
  font-size: 24px;
}
