@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
a {
  text-decoration: none;
  color: white;
}
body {
  max-width: 1920px;
}
.container {
  /* max-width: 1700px; */
}
/*header*/
.header .container {
  background-image: url(../img/Header/background.jpg);
  background-repeat: no-repeat;
  padding-top: 65px;
  background-size: contain;
  /* max-height: 1100px; */
}

.header_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1700px;
  margin: 0 auto 135px;
}
.logo {
  max-width: 240px;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  max-width: 585px;
  column-gap: 18px;
}
.item_nav {
  padding: 16px 40px;
  border: transparent solid 2px;
  border-radius: 28px;
}
.nav_point {
  /* padding: 16px 40px; */

  font-family: "Roboto";
  font-weight: 400;
}
.item_nav:hover {
  padding: 16px 40px;
  border: #2f4b93 solid 2px;
  border-radius: 28px;
  color: #2f4b93;
}
.title_header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
}

.title_header h2 {
  font-size: 60px;
  font-weight: 100;
  color: white;
  box-sizing: content-box;
  margin-bottom: 10px;
  text-align: center;
}
.title_header p {
  font-size: 36px;
  font-weight: 400;
  color: #8492af;
  margin: 0 auto;
  width: 356px;
  margin-bottom: 75px;
}
.started_button {
  margin: 0 auto;
  height: 45px;
}
.started_button a {
  font-size: 18px;
  font-weight: 600;
  padding: 18px 60px;
  background-color: #5584ff;
  border-radius: 25px;
  margin-bottom: 85px;
}
.middle_img {
  margin: 75px auto 0;
  max-width: 882px;
}
/* section_cards */
.section_cards {
  height: 630px;
}
.row_cards {
  height: 630px;
  display: flex;
  column-gap: 30px;
  justify-content: center;
  align-items: flex-end;
}
.card {
  width: 470px;
  height: 500px;
  text-align: center;
  text-justify: distribute-all-lines;
}
.card img {
  padding-top: 120px;
}
.card h3 {
  font-size: 24px;
  padding-top: 60px;
}
.card p {
  padding-top: 30px;
  max-width: 360px;
  text-align: center;
  margin: 0 auto 55px;
}
.card a {
  color: black;
  padding: 15px 85px;
  border: gray solid 1px;
  border-radius: 30px;
}
/* ALLYOU */
.AllYou {
}
.AllYou .container {
  margin-inline: auto;
  display: flex;
  justify-content: flex-end;
  min-height: 930px;
  align-items: center;
}
.text_block {
  max-width: 720px;
}
.title_header {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 60px;
  color: #0e1a35;
  margin-bottom: 60px;
}
.AllYou .txt {
  color: gray;
  font-family: "Roboto";
  font-weight: 100;
  font-size: 18px;
  margin-bottom: 50px;
}
.blueList {
}
.blueLis_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}
.blueLis_container img {
  width: 25px;
  height: 25px;
}
.blueLis_container p {
  color: #5584ff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  margin-left: 16px;
}
.img_block {
  overflow: hidden;
  width: 1000px;
  height: 650px;
  background-image: url("../img/AllYou/gadjets.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.gadjets {
  object-fit: cover;
}

/* D&D */
.DaD {
}
.DaD .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 760px;
  width: 1920px;
  background-image: url("../img/D&D/DaDback.jpg");
  /* background-size: contain; */
  background-repeat: no-repeat;
  object-fit: cover;
}
.picture {
}
.text_block {
}
.title_DaD {
}
.DaDtxt {
}
